body {
    margin: 0;
    padding: 0;
}

/* /////// header ////// */

header {
    display: flex;
    width: 1110px;
    height: 100px;
    margin-left: 165px;
    margin-top: 10px;

}

.nav-bar {
    width: 468px;
    height: 47px;
    list-style-type: none;
    display: inline-flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 56px;
    margin-left: 166px;
}

header ul li {
    float: right;
    display: inline-flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 56px;

}

header ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--neutral-grey-7, #2D2F30);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 1.5px;
    margin: -10px 0px 0px 10px;
    text-transform: uppercase;
}

.logo {
    width: 200px;
    display: flex;
    padding: 11px;
}

.logo svg {

    width: 150px;
    height: 36px;
    margin-top: 17px;
    flex-shrink: 0;
    fill: #094B72;

}


#search {
    width: 24px;
    height: 24px;
    margin-top: 38px;
    margin-left: 166px;
    flex-shrink: 0;
}

/* /////////// footer //////////// */

footer {
    display: grid;
    grid-template-columns: 720px 720px;
    height: 432.6px;
    width: 1440px;
    flex-shrink: 0;
    background: #094B72;

}

.footer_logo svg {
    width: 165px;
    height: 54px;
    margin-top: 13px;
    flex-shrink: 0;
    padding: 73px 0 0 165px;
}

.footer_nav {
    margin: 0;
    padding: 0;
    width: 160px;
    height: 240px;
}

.footer_nav {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    gap: 20px;
    align-content: space-between;
}

.footer_nav ul {
    list-style-type: none;
}

.footer_nav ul li {
    color: var(--text-gray-200, #eeeff4b8);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 12px;
}

.footer_nav .col1,
.footer_nav .col2,
.footer_nav .col3 {
    padding: 75px 15px 0px;
    height: 240px;
}

.footer_nav .heading {
    padding: 22px 0 0 0;
    margin-bottom: 32px;
    color: var(--text-gray-100, #F4F5F7);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

}

/* /////////// Footer Copyrights //////////// */

.copyrights {
    width: 1440px;
    height: 70px;
    background: #004D7B;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.copyrights .rights {
    width: 238px;
    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 24.3px 0 21.07px 165px;
}

.social_media {
    width: 144px;
    height: 24px;
    margin: 22.69px 0 22.69px 375px;
}

/* ///////////// Section 1 ///////////////// */

.container {
    display: grid;
    grid-template-columns: 720px 720px;
    /* grid-template-rows: repeat(1, auto); */
    grid-template-rows: repeat(1, 924px);
    background-color: #FFFFFF;

}

.main__title {
    width: 593px;
    height: 825.9px;
    padding: 64px 682px 34.1px 165px;
}

.main__title .title {
    height: 324px;
    width: 555px;
    padding: 0px 0 0px 0;
    margin: 0;
}

.main__title .title h1 {
    color: #094B72;
    font-family: 'Playfair Display';
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 108px;
    letter-spacing: 0.02em;
    margin: 0;
}

.main__title p {
    width: 574px;
    height: 114px;
    color: #4F4F4F;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    letter-spacing: 0.5px;
    margin: 0;
    text-align: justify;
}

.main__title button {
    width: 190px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0px;
    background: #094B72;
    padding: 0;
    margin-top: 23px;
}

.main__title button span {
    width: 118px;
    height: 22px;
    margin: 29px 36px 29px 36px;
    color:  #F9F8F9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%;
    letter-spacing: 1.28px;
}

#description {
    width: 540px;
    height: 31px;
    color: #727272;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.5%;
    letter-spacing: 0.88px;
    padding: 115px 52px 0px 1px;
}

#wobz{
    margin-top: -10px;
}

.logo__companies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    padding: 40px 0px 0px 0px;
}

.main__image {
    width: 720px;
    height: 811px;
    flex-shrink: 0;
}

.ellipse1 {
    width: 700px;
    height: 750px;
    background: rgba(110, 168, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0px 0px;
}

.ellipse2 {
    width: 399px;
    height: 400px;
    background: #6ea8ff2b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.49px 110px 171px 68.2px;
    margin-top: -171px;
}

.ellipse2 img {
    width: 501px;
    height: 771.811px;
    flex-shrink: 0;
    margin: 469px 40px 0 110px;
}

.name {
    width: 382px;
    height: 114px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFFFFF;
    margin: 81px 100px 100px 151px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.name h3 {
    width: 231px;
    height: 36px;
    color: #33475B;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    padding: 10px 75px 0px 80px;
    margin-bottom: 0;
}

.name p {
    width: 161px;
    height: 36px;
    color: #727272;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    padding: 5px 110px 78px 111px;
    margin: 0;
}

/* ///////////// Section 2 ///////////////// */

.feature_section {
    width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 52.69px;
    background: rgb(242, 247, 255);
}

.side1 {
    width: 419.31px;
    height: 291px;
    padding: 174px 0px 310px 167px;
}

.side1 h2 {
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.323077px;
    text-align: left;
}

.side1 p {
    color: #6a6a6a;
    font-feature-settings: "clig" 0, "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.side2 {
    display: grid;
    width: 545px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 126px 256px 126px 0px;
}

.feature h3 {
    color: #363940;
    font-family: 'Playfair Display';
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.feature p {
    color: #727272;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.feature {
    display: flex;
    width: 224px;
    height: 224px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    background: rgb(252, 252, 252);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 18px 58px 16px;
}

/* ///////////// Section 3 ///////////////// */
.achievement_section {
    width: 1440px;
    height: 376px;
    flex-shrink: 0;
    background: url(../images/Patterns.svg) rgb(9, 75, 114);
    margin-top: 0px;
}

.achievement_title h3 {
    color:  #FFF;
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px;
    letter-spacing: 0.24px;
    padding: 53px 355px 0px;
    margin: 0px;
}

.achievement_title p {
    color:  #FFF;
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    align-self: stretch;
    margin: 0px 355px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 20px;
    margin: 48px;
}

.part1 span {
    width: 255px;
    color:  #FFF;
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    padding-left: 410px;
}

.part1 p {
    width: 255px;
    color: #FFF;
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.054px;
    padding-left: 310px;
    margin: 0px;
}

.part2 {
    border: 2px rgba(255, 255, 255, 0.5);
    border-right-style: solid;
    border-left-style: solid;

}

.part2 span {
    width: 255px;
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    padding-left: 70px;
}

.part2 p {
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.3px;
    margin: 0px;
    width: 271px;
}

.part3 {
    margin-right: 400px;
}

.part3 span {
    width: 255px;
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    padding-left: 120px;
}

.part3 p {
    color: var(--default-white, #FFF);
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.054px;
    margin: 0px;
    width: 255px;
}

/* ///////////// Section 4 ///////////////// */
.testimonial_section {
    background-color: rgb(236 243 255);
    width: 1440px;
    height: 610px;
    flex-shrink: 0;
}

.testimonial_section h2 {
    color: #2D2F30;
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.5px;
    padding: 61px 485px 0px;
    margin: 0px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    background-color: rgb(236 243 255);
}

.card1 {
    width: 540px;
    height: 220px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin: 51px 0px 30px 190px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 52% 95%, 50% 100%, 48% 95%, 0px 95%);

}

.card1 h3 {
    color: #151617;
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 28px;
    padding: 32px 32px 0px;
    margin: 0px;
}

.cards p {
    width: 476px;
    padding: 8px 32px 32px;
    color: var(--neutral-grey-6, #4F4F4F);
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.card2 {
    width: 540px;
    height: 220px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    margin: 51px 30px 30px -13px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 52% 95%, 50% 100%, 48% 95%, 0px 95%);
}

.card2 h3 {
    color: var(--neutral-grey-8, #151617);
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 28px;
    padding: 32px 32px 0px;
    margin: 0px;
}

.cards p {
    width: 476px;
    padding: 8px 32px 32px;
    color: var(--neutral-grey-6, #4F4F4F);
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.clients_details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.client1 {
    width: 300px;
    margin-left: 330px;
    display: flex;
    gap: 15px;
}

.clients_details h3 {
    color: var(--neutral-grey-7, #2D2F30);
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.clients_details p {
    color: var(--neutral-grey-6, #4F4F4F);
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.client2 {
    width: 300px;
    margin-left: 140px;
    display: flex;
    gap: 15px;

}

.clients_details h3 {
    color: var(--neutral-grey-7, #2D2F30);
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 650;
    line-height: 24px;
    margin: 9px 0 0;
}

.clients_details p {
    color: var(--neutral-grey-6, #4F4F4F);
    font-feature-settings: "salt", "liga" 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

/* ///////////// Section 5 ///////////////// */

.cta_section {
    width: 1440px;
    height: 374px;
    flex-shrink: 0;
}

.cta_section h2 {
    width: 470px;
    height: 82.192px;
    flex-shrink: 0;
    color: var(--neutral-grey-7, #2D2F30);
    text-align: center;
    font-feature-settings: "salt", "liga" 0;
    font-family: "Playfair Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.5px;
    padding: 36.72px 0px 0px 159px;
    margin: 0px;
}

.cta_section p {
    color: var(--neutral-grey-6, #4F4F4F);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
    width: 821px;
    height: 129.393px;
    flex-shrink: 0;
    padding: 14.85px 0px 14.85px 165px;
    margin: 0px;
}

.cta_section button {
    display: flex;
    width: 219px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0px;
    background: rgb(9, 75, 114);
    margin-left: 165px;
}

.cta_section button img {
    padding: 15px 0px 16px 37px;
}

.cta_section button span {
    width: 100px;
    height: 36px;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5px;
    padding: 14px 36px 14px 10px;
}

/* //////////// About Page //////////// */

.about__title {
    width: 593px;
    height: 825.9px;
    padding: 64px 0px 34.1px 165px;
}

.about__title .title {
    height: 150px;
    width: 555px;
    padding: 30px 0 105px 0;
    margin: 0;
}

.about__title .title h1 {
    color: #094B72;
    font-family: 'Playfair Display';
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 108px;
    letter-spacing: 0.02em;
    margin: 91px 0 0px 0px;
}

.about__title p {
    width: 574px;
    height: 114px;
    color: #4F4F4F;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    letter-spacing: 0.5px;
    margin: 0;
    text-align: justify;
}

.about__title button {
    width: 190px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0px;
    background: #094B72;
    padding: 0;
    margin-top: 23px;
}

.about__title button span {
    width: 118px;
    height: 22px;
    margin: 29px 36px 29px 36px;
    color: #F9F8F9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%;
    letter-spacing: 1.28px;
}

.about__image .ellipse1 {
    width: 607px;
    height: 457px;
    background: rgba(110, 168, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 153px 0 0px 0px;
    margin: 50px;
}

.about__image .ellipse2 img {
    width: 438px;
    height: 442px;
    flex-shrink: 0;
    margin: 182px 28px 0 79px;
}


.about__image .ellipse2 {
    width: 364px;
    height: 344px;
    background: #6ea8ff2b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.49px 110px 171px 58.2px;
    margin-top: -235px;
}

/* //////////// Service Page //////////// */

.container2 {
    margin: 30px 0 0;
    display: grid;
    grid-template-columns: 720px 720px;
    grid-template-rows: repeat(1, 850px);
    background-color: #FFFFFF;
}
.service__image{
    margin: 0 0 0 50px ;
}

.service__image .ellipse1 {
    width: 692px;
    height: 560px;
    background: rgba(110, 168, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 93px 0 0px 0px;
    margin: 34px 50px 50px 1px;
}

.service__image .ellipse2 {
    width: 307px;
    height: 295px;
    background: #6ea8ff2b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.49px 110px 171px 58.2px;
    margin: -264px 0 0 -69px;
}

.service__image .ellipse2 img {
    width: 478px;
    height: 523.811px;
    flex-shrink: 0;
    margin: 278px 28px 0 122px;
}


.service__title {
    width: 593px;
    padding: 64px 0px 34.1px 50px;
}


.service__title .title h1 {
    color: #094B72;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.96px;
}

.service__title p {
    width: 574px;
    height: 114px;
    color: #4F4F4F;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 158%;
    letter-spacing: 0.5px;
    margin: 0;
    text-align: justify;
}

.service__title button {
    width: 190px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0px;
    background: #094B72;
    padding: 0;
    margin-top: 23px;
}

.service__title button span {
    width: 118px;
    height: 22px;
    margin: 29px 36px 29px 36px;
    color: #F9F8F9;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 650;
    line-height: 140.5%;
    letter-spacing: 1.28px;
}


/* //////////// Contact Page //////////// */


.contact__title {
    width: 600px;
    margin: 90px 0 0 182px;
}

.contact__title .title h1 {
    font-size: 40px;
    margin: 0 0 51px 0;
    color: #094B72;
    font-family: 'Playfair Display';
    width: 200px;
}

form {
    width: 500px;
}

.contact__title input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding: 0;
    padding-left: 25px;
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.contact__title input.message__box {
    height: 135px;
}

label {
    font-family: 'Lato', sans-serif;
    color: #727272;
}


.contact__title select option {
    color: #AEAEAE;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 16.8px */
    letter-spacing: 0.28px;
}

.contact__title select {
    width: 527px;
    border: none;
    font-family: 'Lato', sans-serif;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: 25px;
    background-color: #ffffff;
    outline: none;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

.contact__title button {
    border: none;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 55px;
    background: #094B72;
    border: 1px solid #0355cc;
    border-radius: 8px;
    color: #ffffff;
    margin-top: 15px;
    height: 80px;
    width: 200px;
}

.contact__title button:hover {
    width: 190px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 0px;
    background-color: #0355cc;
    padding: 0;
    margin-top: 23px;
}

.contact__title button span {
    width: 118px;
    height: 22px;
    color: var(--neutral-grey-1, #F9F8F9);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%;
    letter-spacing: 1.28px;
}


.contact__title .map_container {
    height: 360px;

}

.contact__title .map_container .map {
    height: 100%;
}


/* ////// Map //// */

.contact__map {
    height: 703px;
    width: 618px;
    margin: 65px 0px 0 46px;
}

#googleMap {
    border-radius: 60px;
}